{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <link href="{% static "table.css" %}" rel="stylesheet" />

</head>
<body>

<p> You enrolled Student <b>{{ student }}</b> into Course <b>{{ course }}</b>.</p>

<hr>

<p> Displaying <b>Students</b> in <b>{{ course }}</b></p>

<hr>

<table style="width:50%">

<tr>
  <th>Student ID</th>
  <th>Name</th>
</tr>

{% for student in enrolled_students %}

  <tr>
    <td> {{ student.pk }} </td>
    <td> {{ student }} </td>
  </tr>

{%  endfor  %}
</table>

</body>
</html>
